<%= render 'user', user: @user %>
<%= render 'book', book: @book %>

<% @books.each do |book| %>
  <div>
    <p><%= image_tag 'no_image.jpg' %></p>
    <p>Title：<%= book.title %></p>
    <p>Opinion：<%= book.body %></p>
  </div>
<% end %>